body.vertical-layout.vertical-menu-modern .horizontal-menu-wrapper {
  display: none;
}

.horizontal-menu > .main-menu {
  display: none;
}
.horizontal-menu .fixed-top {
  left: 0;
}

html body.navbar-static .app-content .header-navbar {
  background: transparent;
  box-shadow: none !important;
}

@media (max-width: 575.98px) {
  body.vertical-layout:not(.horizontal-layout).navbar-floating .header-navbar {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
}
button svg {
  min-width: 15px;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
}

.navigation li {
  margin: 5px 0px;
}

.ql-editor {
  min-height: 150px !important;
}

.main-menu .navbar-header .navbar-brand .brand-text {
  font-size: 1.25rem !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  height: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
  border: 2px solid;
}

.card-congratulations {
  overflow: hidden;
}

.main-menu .navbar-header .navbar-brand .brand-logo img {
  background: white;
  border-radius: 50%;
}

.user-profile-sidebar.chats {
  width: 100%;
}

.user-profile-sidebar-area.chats {
  height: 75% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#frames {
  flex-direction: column;
}

.reply-img-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.reply-img-holder .reply-img {
  max-width: 35%;
  max-height: 40rem;
}

@media (max-width: 575.98px) {
  div.dataTables_wrapper {
    overflow: hidden !important;
  }
}
.table tbody:first-of-type td {
  white-space: nowrap;
}
